<br />
<div class="row">
  <div class="large-18 columns">
    <div class="panel">
      <% if current_user %>
      <h3>enter peep</h3>
      <form action="/peep" method="post">
      <textarea name="peep_body"></textarea>
      <input type="submit" value="peep!" class="button">
      <%  else %>
      <p>you must be logged in to peep</p>
      <% end %>
    </div>
  </div>
</div>
<% @peeps.each do |peep| %>
<div class="row">
  <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
  <div class="large-10 columns">
    <p><strong><%= peep.user.user_name %></strong> <%= peep.body %></p>
    <ul class="inline-list">
      <li><strong>added:</strong><%= peep.time.strftime("%H:%M %d/%m/%Y")%></li>
    </ul>
    <hr/>
  </div>
</div>

<% end %>




