<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="/reset.css"/> -->
  <link rel="stylesheet" type="text/css" href="foundation/css/foundation.css"/>
  <title>Chitter</title>
</head>
<body>

  <%= erb :errors %>
  <%= partial :welcome %>
  <%= yield %>
</body>
</html>