<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="/reset.css"/> -->
  <link rel="stylesheet" type="text/css" href="/foundation/css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="/foundation/css/foundation.css"/>
  <title>Chitter</title>
</head>
<body>

  <%= erb :errors %>
  <%= partial :welcome %>
  <%= yield %>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>Created by Lewis while at Makers Academy.</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><a href="https://github.com/ljones140">Lewis Jones</a></li>
          <li><a href="http://www.makersacademy.com/">Makers Academy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>