<div class="row">
<div class="large-18 columns">
  <div class="form">
    <form action="/users/sign-in" method="POST">
      <fieldset>
        <legend>Sign in</legend>
        username: <input name="user_name" type="text">
        Password: <input name="password" type="password">
        <input type="submit" value="Submit" class="button">
      </fieldset>
    </form>
  </div>
</div>

